﻿<div class="row">
    <div class="col-md-6">
        <form class="form-signin" role="form" novalidate angular-validator name="userRegistrationForm" angular-validator-submit="register()">
            <h3 class="form-signin-heading">Register </h3>
            <div class="form-group">
                <label for="inputFirstName">FirstName</label>
                <input type="text" name="inputFirstName" class="form-control" ng-model="user.firstName" placeholder="First Name"
                       validate-on="blur" required required-message="'First Name is required'">
            </div>
            <div class="form-group">
                <label for="inputLastName">LastName</label>
                <input type="text" name="inputLastName" class="form-control" ng-model="user.lastName" placeholder="Last Name"
                       validate-on="blur" required required-message="'Last Name is required'">
            </div>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" name="inputEmail" class="form-control" ng-model="user.email" placeholder="Email address"
                       validate-on="blur" required required-message="'Email is required'">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" name="inputPassword" class="form-control" ng-model="user.password" placeholder="Password"
                       validate-on="blur" required required-message="'Password is required'">
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
    </div>

    <div class="col-md-6">
        <form class="form-signin" role="form" novalidate angular-validator name="userImportForm" angular-validator-submit="importprofile()">
            <h3 class="form-signin-heading">Import Account </h3>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" name="inputEmail" class="form-control" ng-model="profile.email" placeholder="Email address"
                       validate-on="blur" required required-message="'Email is required'">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" name="inputPassword" class="form-control" ng-model="profile.password" placeholder="Password"
                       validate-on="blur" required required-message="'Password is required'">
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">ImportProfile</button>
        </form>
    </div>
</div>
