﻿<div class="modal-header">
    <h3>Delete Confirmation</h3>
</div>
<div class="modal-body">
    <h4 class="delete-message">Are you sure you want to delete ths record?</h4>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <input type="submit" class="btn primary-btn" ng-click="submit()" value="Submit" />
</div>

