﻿<div id="sidebar" class="sidebar-offcanvas">
    <!--Portal side bar-->
    <div class="col-md-12">
        <h3>Portal Menu</h3>
        <!--loop through user approved sites-->
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="#demo" data-toggle="collapse" target="_self"><b>SITE</b><i class="fa fa-home fa-fw pull-right"></i></a>
                <ul id="demo" class="nav nav-pills nav-stacked collapse" style="margin-left:10px">
                    <li><a href="#set" target="_self">User Management<i class="fa fa-fw pull-right"></i></a></li>
                    <li><a href="#set" target="_self">Page Management<i class="fa fa-fw pull-right"></i></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
