﻿<div id="sidebar" class="sidebar-offcanvas">
    <!--Site Sidebar-->
    <div class="col-md-12">
        <h3>Site Menu</h3>
        <ul class="nav nav-pills nav-stacked">
            <li><a ng-href="#/login" ng-if="!userData.isUserLoggedIn">Login<i class="fa fa-sign-in fa-fw pull-right"></i></a></li>
            <li><button type="button" class="btn btn-danger btn-sm" ng-click="logout();" ng-if="userData.isUserLoggedIn">Logout<i class="fa fa-sign-out fa-fw pull-right"></i></button></li>
            <li class="nav-divider"></li>
            <li class=""><a ng-href="#/"><b>WORKING</b><i class="fa fa-home fa-fw pull-right"></i></a></li>
            <li><a ng-href="#/burialRequest/contacts">Contacts<i class="fa fa-fw pull-right"></i></a></li>
            <li><a ng-href="#/burialRequest/decedents">Decedents<i class="fa fa-fw pull-right"></i></a></li>
            <li><a ng-href="#/ServiceRecords">Service Records<i class="fa fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>
        </ul>
    </div>
</div>
