/* EISS GLOBAL CSS 
 * These styles are common accross all site elements
 */

/***********************************************************************************
 *                                      BODY                                       *
 ***********************************************************************************/

/*body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 13px; }*/

    .h1, .h2, .h3, .h4 { margin: 20px 0px; font-weight: bold; }
    .h1 { font-size: 250%; } /* 32.5px*/
    .h2 { font-size: 200%; } /* 26px */
    .h3 { font-size: 150%; } /* 19.5px */
    .h4 { font-size: 125%; } /* 16.35px */


    .primary-white { color: #fff; }
    .secondary-white { color: #cecece; }
    .primary-black { color: #000; }
    .theme-gold { color: #f5cd82; }
    .theme-green { color:#006600 ; }
    .theme-black { color: #1f1d1d; }
    .primary-blue { color: #2c3e50; }
    .secondary-blue { color: #384b5f; }
    .tertiary-blue { color: #455769; }

    .wrapper {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    i { margin-right: 5px; }    

    input[type='checkbox'] {
        margin: 0px 5px 2px 0px;
        vertical-align: middle; }


/*************************************************************************************
 *                                      HEADER                                       *
 *************************************************************************************/

.disclaimer {
    position: relative;
    left: auto;
    line-height: 18px;
    padding: 0px 15px;
    font-size: 70%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background: #006600;
}




/**************************************************************************************************** 
 *                                      FORM INPUTS & BUTTONS                                       *
 ****************************************************************************************************/

.form-control { color: #1f1d1d; border: 1px solid #455769; }

.required:after {
    /*content: "*";*/   
    color: red;
    margin-left: 5px;
}
label{
    font-weight:normal !important;
}
select[multiple], select[size] {
    display: block; min-height: 255px; min-width: 100%; }

select:hover, select:focus, input:hover, input:focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	cursor: pointer;
}

input[type='text'] {
    /*margin-right: 10px;*/
    margin-bottom: 10px;
    padding: 6px 12px;
    /*padding-bottom: 10px;*/
    border-radius: 4px;    
   
}

.custom-select {
    display: block;
    width: 100%;
    margin-bottom: 10px !important;
    padding-bottom:10px !important;
    padding: 6px 15px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: capitalize;
}

.btn-default, .btn-secondary {
    margin-left: 15px; padding-bottom: 8px; min-width: 110px; border-radius: 4px; color: #ffffff; background: #2c3e50; }

.btn-default { max-width: 250px; }

    .btn-default:hover, .btn-secondary:hover, .btn-default:focus, .btn-secondary:focus {
        border: 1px solid #ced4d7;
        background: #455769;
        color: #cecece;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        cursor: pointer;
    }

    .btn-default a { color: #fff; }
        .btn-default a:hover, .btn-default a:focus {
            text-decoration: none;
            color: #cecece;
        }

.btn-secondary { /*padding: 3px 6px;*/ padding: 0;}


/************************************************************************************ 
 *                                     BOOTSTRAP PANEL                                       *
 ************************************************************************************/

.panel-primary {
    display: table;
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
    border: 1px solid #cecece;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

    .panel-primary .panel-heading-title { padding-bottom: 0; font-weight: normal; color: #fff;}

    .panel-primary .panel-heading {
        padding: 6px 12px;
        font-size: 150%;
        background: #455769;
    }

    .panel-primary .panel-body {
        padding: 15px;
        background: #ececec;
        box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6);
    }

    .panel-primary .panel-footer { margin: 0; text-align: right; }



/************************************************************************************ 
 *                                     BOOTSTRAP TABLE                              *
 ************************************************************************************/

/*.table-striped > tbody > tr:nth-of-type(2n) { background-color: lightblue; }
.table-striped > tbody > tr:nth-of-type(2n+1) { background-color: white; }*/

.table-striped { margin-bottom: 0px; }
.table-striped > tbody > tr:nth-of-type(2n) { background-color: #f5f5f5; }
.table-striped > tbody > tr:nth-of-type(2n+1) { background-color: #fff; }
.table-condensed > tbody > tr > td { padding: 6px 12px; }
.table-striped > thead > tr:first-child th { 
    padding: 6px 12px; 
    background: #455769;
    font-weight: normal; 
    font-size: 16px; 
    color: #fff; 
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    background-image: -webkit-linear-gradient(top, #455769 0%, #265a88 100%);
    background-image: -o-linear-gradient(top, #455769 0%, #265a88 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#455769), to(#265a88));
    /*background-image: linear-gradient(to bottom, #455769 0%, #265a88 100%);*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #245580;
}

/************************************************************************************ 
 *                                     BOOTSTRAP MODAL                              *
 ************************************************************************************/

.modal-dialog {
    width: 80%; 
    height: 80vh; 
    margin-left: 10%; 
    margin-right: 10%; 
    overflow-y: initial !important;
    /*overflow-y: scroll;*/ }

    .modal-content { padding: 0; }

    .modal-header {
        padding: 15px;
        background: #455769;
        color: #fff;
        border-color: #384b5f;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px; }

        .close { color: #fff; }
		
    .modal-body { 
        /*display: table;*/ 
        background: #ececec; 
        height: auto;
        max-height: 75vh;
        overflow-y: auto; }	
    
    .modal-footer { clear: both; }	

    #siteChangeModal .modal-dialog { width: 50%; margin-left: 25%; margin-right: 25%; }

    #userProfileAccessRemove, #userProfileAccessAssign { display: block; margin: 0; padding: 15px 0px; text-align: left; }



/*************************************************************************************** 
 *                                      BOOTSTRAP DROPDOWN                                       *
 ***************************************************************************************/

.dropdown-menu {
    position: absolute;
    right: 15px;
    left: auto;
    margin: 1px 0 0;
    padding: 0;
    min-width: 320px;
    border: 0px solid rgba(0, 0, 0, 0.15);
    border-radius: 0; }

    .dropdown-menu:before, .dropdown-menu:after {
        position: absolute;
        right: 0;
        left: auto;
        bottom: 100%;
        width: 0;
        height: 0;
        margin-left: 6px;
        content: " ";
        pointer-events: none;
        border-bottom: 9px solid #ccc;
        border-left: 9px solid transparent;
        border-right: 8px solid transparent;
    }
    
    .dropdown-menu:after {
        border-bottom: 8px solid #fff;
        border-left: 8px solid transparent;
    }
    
    .dropdown-menu h3 {
        margin: 0;
        padding: 12px 8px;
        font-size: inherit;
        color: #62878f;
        font-weight: 700;
        background: #eaedf2 none repeat scroll 0 0; }

    .dropdown-menu li {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

        .dropdown-menu li.dropdown-header { padding: 0; font-size: 100%; }

        .dropdown-menu li a {
            clear: both; display: block; padding: 6px 12px; font-weight: 400; color: #7e7e7e; text-decoration: none; white-space: nowrap; cursor: pointer; }

            .dropdown-menu li a:hover, .dropdown-menu li a:focus {
                background: #384b5f;
                color: #fff;
            }


/**************************************************************************************************** 
 *                                      MASTER CONTENT                                       *
 ****************************************************************************************************/
.main-container {
    position: relative;
    top: 68px;
    margin-left: 230px;
    padding: 0px 45px 0px 30px;
    height:100%;
    width: auto; }

    #master-content-column { padding-bottom: 30px; }



/**************************************************************************************************** 
 *                                      MISC.                                       *
 ****************************************************************************************************/
label { font-weight: bold; }

.tooltip { min-width: 150px; }

.fa-exclamation-circle.tips { font-size: 15px; }

.inline-listings, .block-listings, .table-listings { 
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none; }

    .inline-listings > li { display: inline-block; }
    .block-listings > li { display: block; }
    .table-listings > li { display: table-cell; }

.toggle-arrow, .toggle-all, toggle-box { cursor: pointer; }


/******************************************************************************************
 *                                      MEDIA CALLS                                       *
 ******************************************************************************************/

@media screen and (max-width: 992px) {
    .right-header-components { line-height: 25px; }    
    .right-header-components .dropdown > a > span { display: none; }

    .user-profile-access-panel .panel-body > div { margin-bottom: 15px; }

    #rolePermissionsControl > .btn-default { margin-bottom: 15px; }
}

@media screen and (max-width: 768px) {
    #rolePermissionsControl > .btn-default { margin: 0;}

    .affiliations-listing .affiliations-listing-content { height: auto; max-height: 255px; }
}