﻿
 .HideButton {
    Display: none
}

.required {
    color: red;
}

input[type='text'] {
    width: 55%;
    display: inline;
}

.checkbox {
    display: inline;
    margin-bottom: 10px;
    margin-top: 6px;
}

* {
    font-family: FontAwesome;
}

.custom-select {
    display: inline;
    width: 55% !important;
    font-family: FontAwesome;
    font-size: small;
    margin-bottom:10px;

}

.dropdown {
    min-height: 150px;
}
input[type='text'] {
    margin-bottom:10px;
}
 .checkboxlist {
    height: 200px;
    overflow-y: scroll;
    word-wrap: break-word;
    overflow-x: hidden;
}

checkbox-custom {
    margin-top: 6px;
}

.label-custom {
    padding-right: 20px;
}

grid-custom {
    font-size: small;
    font-weight: normal;
}
