﻿@model Eiss.Tenant.Tenant
@{
    Layout = null;
    
}

<!DOCTYPE html>
<html ng-app="eissPortal">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EISS Portal</title>
    <base href="/" />
    @Styles.Render("~/Content/kendo")
    @Styles.Render("~/Content/css")
    <link href="@Url.Content(Model.Theme)" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng-controller="rootCtrl">

    <top-bar></top-bar>
    <div class="row-offcanvas row-offcanvas-left">
        <div ng-switch="navtype()">
            <div ng-switch-when="portal"><side-bar-portal></side-bar-portal></div>
            <div ng-switch-when="empty"><side-bar-empty></side-bar-empty></div>
            <div ng-switch-default><side-bar-site></side-bar-site></div>
        </div>
        
        <div id="main">
            <div class="col-md-12">
                <p class="visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
                </p>
                <h1>@Model.Name</h1>
                @Html.AntiForgeryToken();
                <div class="page {{ pageClass }}" ng-view></div>
            </div>
        </div>
    </div><!--/row-offcanvas -->
    @Scripts.Render("~/bundles/vendors")
    @Scripts.Render("~/bundles/spa")
</body>
</html>
